*{
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}
nav{
    width: 100%;
    height:80px;
     background-color: rgb(0, 0, 0);
    position:relative;
    top: 0;
}
.logo{
    float: left;
    padding:20px;
    text-decoration: none;
    color: red;
    font-size:25px;
    font-weight: bold;
    
}
.fas {
    float: left;
    
    text-decoration: none;
    color: white;
    padding: 28px 3px;
    font-size:25px;
    font-weight: bold;
    margin-left:14%;
 
}
.logo:hover{
    color: white;
}
nav ul{
    float: right; 
    margin-right:12%;
    padding: 8px;
     
     
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    
 
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size:18px;
    font-weight:500;
    transition: 0.4s ease-in-out;
    padding:42px 15px;
  
}
nav ul li a:hover{
    color: red;
}
.active{
  background-color:#ec4141;
  color: white;

}
.active:hover{
    color: white;
}
 

.portfolio{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #ec4141;
}
.portfolio h1{
    color: white;
    
}
.our_gallery{
    background-color: #1c1c1c;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our_gallery_content{
    padding: 60px;
    margin-left:8%;
    margin-right: 8%;
}
.our_gallery p{
    color: #656565;
}
.our_gallery h2 span{
    color: red;
}
.our_gallery h2{
    color: white;
}
.filter_gallery{
    background-color: #656565;
    min-height: 150vh;
}
.portfolio_menu{
    padding: 30px;
    text-align: center;
    
}
body input{
    display: none;
}
.portfolio_menu label{
    list-style: none;
    display: inline-block;
    margin: 20px 0px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s ease;
    font-weight: bold;
    color: white;
}

.portfolio_menu label:hover{
    color: red;
}

.portfolio_item{
    width: 100%;
    margin-left: 10%;
}

.portfolio_item .item{
  width: 360px;
  height: 260px;  
  margin-bottom: 60px;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
  
}
.portfolio_item .item figure{
    height: 260px; overflow: hidden;
}
.portfolio_item .item img{
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
}

.portfolio_item .item img:hover{
    transform: scale(1.1);
}
.portfolio_item .item .overlay{
    padding: 5px;
    text-align: center;
    background-color: white;
}

.portfolio_item .item .overlay b{
   color: red;
}

.portfolio_item .item figure i{
    transform: scale(0);
    transition: transform 0.5s;
    position: absolute;
    top: 20px;
}

.portfolio_item .item img:hover i{
    transform: scale(1);
}

.fas fa-eye {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#check1:checked .filter_gallery .portfolio_item .item{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check2:checked .filter_gallery .portfolio_item .second, #check2:checked  .filter_gallery .portfolio_item .fourth{
    opacity: 1;
    transform: scale(1);
    position: relative;
}